[submodule "external/logger"]
	path = external/logger
	url = https://github.com/nkh-lab/logger.git
[submodule "external/eigen"]
	path = external/eigen
	url = https://github.com/nkh-lab/eigen-git-mirror.git
